<?xml version="1.0"?>
<config>
    <modules>
        <VS7_GAddress>
            <version>1.0.0</version>
        </VS7_GAddress>
    </modules>
    <global>
        <helpers>
            <vs7_gaddress>
                <class>VS7_GAddress_Helper</class>
            </vs7_gaddress>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gaddress>
                                            <title>GAddress</title>
                                        </gaddress>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <vs7_gaddress>
                    <file>vs7_gaddress.xml</file>
                </vs7_gaddress>
            </updates>
        </layout>
    </frontend>
</config>